
body{
    min-width: 1140px;
    font-family: "Titillium Web", sans-serif;
    color:RGB(247, 243, 234);
}
.all-blocks{
    display: flex;
    flex-direction: column;
}
.wellcome{
    background-color: RGB(135, 80, 156);
    width: auto;
    height: 596px;
   
}
.main-container{
   width: 100%;
   max-width: 1140px;
   margin: 100px auto;
   
}

.header{
   width: 100%;
   max-width: 1140px;
   margin: 10px auto;
}
.logo{
    float: left;
    margin: 57px 0 0 62px;
}

header > div >ul{
    list-style-type: none;
}

.nav ul > li {
    display: inline;
    margin-right: 30px;
    padding: 2px 15px;
}
.nav ul > li:hover {
    background: #643a79; 
    border-radius: 4px;
   } 

.nav{
    float: right;
    font-size: 12pt;
    margin: 45px;
    text-transform: uppercase;
}

.text{
    font-size: 32pt;
    position: absolute;
    top: 190px;
    text-align: center;
    margin: 0 117px 0 117px;
    font-weight: bold;
   
}
.button{
    position: absolute;
    top: 400px;
    margin-left: 420px;
   
}

button{
    background-color:#eb7d4b;
    border-radius: 3px;
    padding: 28px 81px 28px 81px;
    color:RGB(247, 243, 234);
    border: none;
    box-shadow: 0px 4px 1px 0px #c86a40;
    width: 292px;
    height: 66px;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 12pt;
    
}

.services{
    top:  597px;
    background-color: #17c2a4;
    width: auto;
    height: 749px;
   
}
.services-text{
    width: 100%;
    margin: -20px auto;
    font-size: 32pt;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
.line{
    width: 87px;
    height: 4px;
   background-color: #14a58c;
   border: none;
}
.text-descr{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 14pt;
}

.services-head {
    font-weight: bold;
    font-size: 18pt;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  } 

.flex{
    display: flex;
    justify-content: space-between;
}
.blocks-servises{
    width: 240px;
    text-align: center;
    font-size: 14pt;
    margin-top: 80px; 
}
  
.blocks{
    width: 250px;
    text-align: center;
    font-size: 14pt;
    margin-top: 80px; 
    
}

.team{
        background-color: #e7f1f8;
        width: auto;
        height: 914px;
        color: #3c4761;
}

.line-team{
margin: 0 auto;
 width: 87px;
height: 4px;
background-color: #c8d9e5;
border: none;
}

.team-text{
    width: 100%;
    margin: -20px auto;
    text-align: center;
    font-size: 32pt;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.team-descr{
width: 100%;
margin: 0px auto;
text-align: center;
font-size: 14pt;
}

.team img{
    border-radius: 100px;
}

#profession{
margin-top: -20px;  
text-align: center;
color: #30bae7;

}
#paragraf{

   padding: 0px 10px; 
    text-align: center;
}

.contacts{
    top: 500px;
    width: 230px;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
}
.contacts img{
    margin: 0px 5px;
}

